In [2]:
#VAriables
ram,kharal,panthi=93,48,71
print(ram)
print(kharal)
print(panthi)

93
48
71

In [15]:
#global variables
fruit='mango'
def fruitname():
    print(fruit)
fruitname()

mango

In [18]:
#Gv
college='Mid-west University'
def clg_name():
    college='GSEr'
    print(college)
clg_name()
print(college)

GSEr
Mid-west University

In [21]:
#One value Multiple variable
clg1=clg2=clg3='GSer'
print(clg1)
print(clg2)
print(clg3)
type(clg1)

GSer
GSer
GSer

str

In [26]:
#Unpacking tuples
cars=["bugati","lamborgini","toyota"]
cars=ram,shyam,hari
print("The ram owned ",ram)
print("Shyam owned", shyam)

The ram owned  bugati
Shyam owned lamborgini

Total salary of Nirmal is  <function salary at 0x0000022208F70EA0>

In [39]:
#global variables
saving=10000
expenditure=5000
def salary():
    salary=saving+expenditure
    print("Total salary of Nirmal ",salary)
salary()

TypeError: can only concatenate str (not "int") to str